@import url(https://fonts.googleapis.com/css?family=Open+Sans:800italic,400);

.container {
  display: flex;
  margin-top: 250px;
  min-width: 950px;
  align-items: center;
  justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 100px;
}

h1 {
    text-align: center;
    width: 100%;
    font-family: Open sans;
    color: pink;
    font-size: 60px;
}

.box {
  max-height: 500px;
margin-top: 150px;
    
}

#heart {
  height: 550px;
    width: 500px;
  margin-left: auto;
  animation: 1.5s ease 0s infinite beat;
}

@keyframes beat {
  0%, 40%, 80%, 100% { transform: scale(.9, .9); }
  20%, 60% { transform: scale(1, 1); }
}


.swipe-view {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-coordinate: 0 0;
  scroll-snap-points-x: repeat(100%);
  scroll-snap-type: x mandatory;
  flex: 1;
  display:flex;
  -webkit-overflow-scrolling: touch;
  section {
    width: 950px;
    height: 100%;
    flex:0 0 950px;
    scroll-snap-align: start;
  }
}


body {
  background: #F2f2f2;
  font-family: 'Maven Pro';
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    background-color: pink;
}


.mobile {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background: #f9fbfc;
  position: relative;
  display: flex;
  flex-direction: column;
}

.pink {
  background: #f3555d;
}

.purple {
  background: pink;
}

h2 {
  color: #fff;
  font-size: 50px;
    text-align: center;
    font-family: Open sans;
    text-align: left;
    display: inline-block;
    float: left;
    margin-left: 80px;
    margin-top: 220px;
}


.center b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 65px;
  font-size: 50px;
  text-align: left;
  top: 230px;
}

.innerText {
  font-weight: bold;
  line-height: 70px;
  color: #f3555d;
  display: inline-block;
  padding-left: 14px;
  animation: move 8s infinite;
  animation-delay: 1.5s;
  top: -10;
  left: 0;
  position: relative;
    font-family: Open sans;
}

@keyframes move{
  0%, 8% { top: -10px; }
  15%, 23% { top: -80px; }
  30%, 38% { top: -150px; }
  45%, 53% { top: -220px; }
  60%, 68% { top: -290px; }
  75%, 95% { top: -360px; }
}

.center{
  margin: 200px auto;
 min-width: 950px;
  text-align: center;
  display: block;
}


#stickman {
 margin-left: 600px;
 height: 450px;
 width: 100px;
 position: relative;
    margin-top: 200%;
    color: white;
    display: block;
}
.head {
background:pink;
  border-radius:50%;
  width:80px;
  height:80px;
  border:8px solid white;
}
.body { 
  position: absolute;
    height: 150px;
    width: 10px;
    background: white;
    right: 50px;
    top: 89px;
    border-radius: 100px;
}
.left-arm {
  position: absolute;
   height: 100px;
   width: 10px;
   background: white;
   transform: rotate(45deg);
   -moz-transform:rotate(45deg); //firefox
   -webkit-transform:rotate(45deg); //Chrome, Safari
   -o-transform:rotate(45deg); 
   left:5px;
    border-radius: 100px;
}
.right-arm {
  position: absolute;
   height: 100px;
   width: 10px;
   background-color: white;
   transform: rotate(-45deg);
   -moz-transform:rotate(-45deg); //firefox
   -webkit-transform:rotate(-45deg); //Chrome, Safari
   -o-transform:rotate(-45deg); 
   right:15px;
    border-radius: 100px;
    animation: extend 5s infinite ease;
}

@keyframes extend {
0% {transform: rotate(-45deg);
    right:15px;
    top: 95px;}  
30% {transform: rotate(-70deg);
    right: -5px;
    top: 70px;
    height: 120px;}
60% {transform: rotate(-45deg);
    right:15px;
    top: 95px;}
}

.left-foot {
  position: absolute;
   height: 115px;
   width: 10px;
   background: white;
   transform: rotate(25deg);
   -moz-transform:rotate(25deg); //firefox
   -webkit-transform:rotate(25deg); //Chrome, Safari
   -o-transform:rotate(25deg); 
   left:12px;
  top:230px;
    border-radius: 100px;
}



.right-foot {
  position: absolute;
   height: 115px;
   width: 10px;
   background: white;
   transform: rotate(-25deg);
   -moz-transform:rotate(-25deg); //firefox
   -webkit-transform:rotate(-25deg); //Chrome, Safari
   -o-transform:rotate(-25deg); 
   right:25px;
  top:230px;
    border-radius: 100px;
}

#addie {
    position: absolute;
    margin-left: -200%;
}

#riley {
    position: absolute;
    transform: rotateY(180deg);
}

img.heart {
    position: absolute;
    z-index: 5;
    animation: heart 5s infinite ease;
    animation-delay: 1.05s;
    top: 100px;
    left: -98px;
    transform: scale(.6);
    visibility: hidden;
}

@keyframes heart {
0% {visibility: visible;
    top: 100px;
    left: -98px;
    transform: scale(.6);
    }  
20% {
    top: -100px;
    left: -30px;
    transform: scale(.8);
    } 
40% {
    top: -300px;
    left: -238px;
    transform: scale(1.3);
    } 
60% {
    top: -450px;
    left: -50px;
    transform: scale(2);
        opacity: 1;
    }
65% {
    top: -450px;
    left: -50px;
    transform: scale(2);
    opacity: 0;
    } 
98% 
        {
    transform: scale(.6);
    opacity: 0;
    top: 100px;
    left: -98px;
    }
100% {
    top: 100px;
    left: -98px;
    transform: scale(.6);
    }
}
