@import url(https://fonts.googleapis.com/css?family=Open+Sans:800italic,400);

.container {
  display: flex;
  margin-top: 250px;
  min-width: 1000px;
  align-items: center;
  justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 100px;
}

h1 {
    text-align: center;
    width: 100%;
    font-family: Open sans;
    color: pink;
    font-size: 60px;
}

.box {
  height: 100%;
  max-height: 500px;
    
}

#heart {
  height: 550px;
    width: 500px;
  margin-left: auto;
  animation: 1.5s ease 0s infinite beat;
}

@keyframes beat {
  0%, 40%, 80%, 100% { transform: scale(.9, .9); }
  20%, 60% { transform: scale(1, 1); }
}


.swipe-view {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-coordinate: 0 0;
  scroll-snap-points-x: repeat(100%);
  scroll-snap-type: x mandatory;
  flex: 1;
  display:flex;
  -webkit-overflow-scrolling: touch;
  section {
    width: 1000px;
    height: 100%;
    flex:0 0 1000px;
    scroll-snap-align: start;
  }
}


/******
*** DEMO STUFF, Ignore...
****/



body {
  background: #F2f2f2;
  font-family: 'Maven Pro';
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    background-color: pink;
}


.mobile {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background: #f9fbfc;
  position: relative;
  display: flex;
  flex-direction: column;
}

.pink {
  background: #f3555d;
}

.purple {
  background: pink;
}

h2 {
  color: #fff;
  font-size: 50px;
    text-align: center;
    font-family: Open sans;
    text-align: left;
    display: inline-block;
    float: left;
    margin-left: 140px;
    margin-top: 170px;
}


.center b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 65px;
  font-size: 50px;
  text-align: left;
  top: 180px;
}

.innerText {
  font-weight: bold;
  line-height: 70px;
  color: #f3555d;
  display: inline-block;
  padding-left: 14px;
  animation: move 8s infinite;
  animation-delay: 1.5s;
  top: -10;
  left: 0;
  position: relative;
    font-family: Open sans;
}

@keyframes move{
  0%, 8% { top: -10px; }
  15%, 23% { top: -80px; }
  30%, 38% { top: -150px; }
  45%, 53% { top: -220px; }
  60%, 68% { top: -290px; }
  75%, 95% { top: -360px; }
}

.center{
  margin: 200px auto;
 min-width: 1000px;
  text-align: center;
  display: block;
}
